body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.text-danger{display:-none;}
.title{color:#fff;font-size:26px;padding-top:10px;}
.isneed::before{content:'*';color:red;margin-right:0.4em;}
.form-horizontal{width:90%;margin:0 auto;background:#fff;border-radius:0.4rem;padding:10px 20px;position:relative;z-index:1;margin-top:60px;box-shadow:0 0 4px rgba(0,0,0,0.5) ;}
.suc-tip{position:relative;z-index:11;color:green;width:52%;min-height:15vh;background:#fff;border-radius:.4rem;overflow:hidden;margin:30px auto 0;text-align:center;font-size:16px;padding:6vh 0;}

.countDown-cont {
    background: #010101;
    background: rgba(1,1,1,.5);
    height: 100%;
    padding: 20px;
}
.centerPiece {
    padding-top: 60px;
}
.parallax-image {
    background: url(../images/wallup-267445.jpg) center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    height: 730px;
    position: absolute;
    z-index:0;
}